---
title: Pricing
---
extends layouts/_layout
block content
	+header('', 'active')
	.pricing
		.pricing__center.center
			h1.pricing__title.d1(data-aos="animation-scale-top" data-aos-duration="600") Choose the plan
			.pricing__info Pay by month or the year, and cancel at any time.
			.pricing__list
				.pricing__item
					.pricing__head
						.pricing__subtitle(data-aos="animation-scale-top" data-aos-duration="600" data-aos-delay="200") Basic
						.pricing__price <span class="pricing__currency">$</span><span class="pricing__number">9</span><span class="pricing__time">/month</span>
						.pricing__text Beautifully simple project planning
						button.pricing__btn.btn.btn_orange Start free trial
					.pricing__details
						.pricing__stage Core features
						.pricing__category Basic
						a.pricing__view(href="#") See features
							+i('arrow-down')
						ul.pricing__options
							li 10 Boards per Team
							li Unlimited Cards
							li Unlimited Lists
							li 10MB per File Attachment
				.pricing__item
					.pricing__head
						.pricing__note most popular
						.pricing__subtitle(data-aos="animation-scale-top" data-aos-duration="600" data-aos-delay="400") Premium
						.pricing__price <span class="pricing__currency">$</span><span class="pricing__number">19</span><span class="pricing__time">/month</span>
						.pricing__text Declutter your mind and save time with Premium.
						button.pricing__btn.btn.btn_orange Start free trial
					.pricing__details
						.pricing__category Premium
						a.pricing__view(href="#") See features
							+i('arrow-down')
						ul.pricing__options
							li Unlimited Boards per Team
							li Unlimited Cards
							li Unlimited Lists
							li 250MB per File Attachment
							li Advanced Checklists
							li Priority Support
				.pricing__item
					.pricing__head
						.pricing__subtitle(data-aos="animation-scale-top" data-aos-duration="600" data-aos-delay="600") Business
						.pricing__price
							.pricing__img
								img(srcset="img/box@2x.png 2x" src="img/box.png" alt="")
						.pricing__text For large business and team. Contact sale!
						button.pricing__btn.btn.btn_border
							+i('play')
							span.btn__text Contact Sale
					.pricing__details
						.pricing__category Business
						a.pricing__view(href="#") See features
							+i('arrow-down')
						ul.pricing__options
							li Unlimited Boards per Team
							li Unlimited Cards
							li Unlimited Lists
							li 1GB per File Attachment
							li 100+ App Integrations
							li Unlimited Command runs
							li Priority Support
	.faq
		.faq__center.center
			.faq__container
				.faq__bg
				h2.faq__title.h2(data-aos="animation-scale-top" data-aos-duration="600") Frequently asked questions
				.faq__row
					.faq__col
						.faq__group
							.faq__category The basics
							.faq__list
								.faq__item
									.faq__head How does it work?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head Which platform do you support?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head How does it work?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head How does it work?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
						.faq__group
							.faq__category Manage your plan
							.faq__list
								.faq__item
									.faq__head How to upgrade a free to a paid plan?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head How to change a paid plan?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head How to cancel a paid plan?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
					.faq__col
						.faq__group
							.faq__category Using Solo
							.faq__list
								.faq__item
									.faq__head How to create a new workspace?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head What is a channel?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head How to invite team members?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head How to join a channel?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
						.faq__group
							.faq__category Security & Privacy
							.faq__list
								.faq__item
									.faq__head Change password
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head Enable 2FA Code
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head How to delete an account?
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
								.faq__item
									.faq__head Refund policy
									.faq__body 4,730 curated design resources to energize your creative workflow. We're a growing family of 382,081 designers and makers from around the world. 4,730 curated design resources to energize your creative workflow.
				.faq__gallery
					.faq__preview
						img(srcset="img/figures-3.1@2x.png 2x" src="img/figures-3.1.png" alt="")
					.faq__preview(data-aos="animation-translate-up" data-aos-duration="1000")
						img(srcset="img/figures-3.2@2x.png 2x" src="img/figures-3.2.png" alt="")
					.faq__preview(data-aos="animation-translate-up" data-aos-duration="1000")
						img(srcset="img/figures-3.3@2x.png 2x" src="img/figures-3.3.png" alt="")
	+footer('', 'active')