---
title: Index Page
---
extends layouts/_layout
block content
	ul(style="padding: 120px 30px;")
		li(style="margin-bottom: 20px;")
			a(href="main.html") main
		li(style="margin-bottom: 20px;")
			a(href="downloads.html") downloads
		li(style="margin-bottom: 20px;")
			a(href="pricing.html") pricing
		li(style="margin-bottom: 20px;")
			a(href="about-us.html") about-us
		li(style="margin-bottom: 20px;")
			a(href="features.html") features
		li(style="margin-bottom: 20px;")
			a(href="contact.html") contact

